<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533315192087-j482pd5euspj3t2e5gc2md60i51letrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533315192087-j482pd5euspj3t2e5gc2md60i51letrr</string>
	<key>API_KEY</key>
	<string>AIzaSyBeJPmujLWVPRLOZE6JsBqGluda7DYuR78</string>
	<key>GCM_SENDER_ID</key>
	<string>533315192087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeen.boilerplate</string>
	<key>PROJECT_ID</key>
	<string>makeen-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>makeen-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533315192087:ios:312b37a869aff32ee9e352</string>
	<key>DATABASE_URL</key>
	<string>https://makeen-boilerplate.firebaseio.com</string>
</dict>
</plist>